@import "compass";


#IChangeColorJustBecause{
	border: 1px solid maroon;
	height:400px;
	width:400px;
	margin: 120px auto;

}

#Rainbowlover{
	border:1px solid orange;
	height:200px;
	width:200px;
}


#autoprefixertest{
	width:200px;
	height:200px;
	transform: translate(100px);
	background: linear-gradient(#e66465, #9198e5);
	animation-duration: 25s;
  animation-name: slidein;

}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}